

/* Header */
header {
    padding-bottom: -13px;
    padding-right: 100px;
    padding-left: 49px;
    display: inline-block;
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(221, 217, 217);
    font-size: 14px;
    border-style: outset;
}

header h1 {
    float: left;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navigation Menu*/

nav {
    float: right;
}

nav ul {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

nav li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
}

/* bagian beranda galery */

div.poto {
    margin: 5px;
    border: 1px solid rgba(139, 139, 139, 0.37);
    float: left;
    width: 180px;
  }
  
  div.poto :hover {
    border: 1px solid rgb(223, 79, 151);
  }
  
  div.poto img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }