* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/* Header */
header {
    padding: 15px;
    display: inline-block;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }
header img {
    padding: 10px 0px;
    height: 100px;
}

header ul {
    padding: 10px 0;
    float: right;
    display: flex;
}

header li {
    padding: 22px 30px;
    list-style: none;
}

ul a {
    font-size: 15;
    text-decoration: none;
    color: #000;
}

ul:hover a:hover{
    background-color: #000;
    color: #fff;
} 
/* End header */

/* Book */
/* End book */