/* edit rak-buku */
.rak-buku {
    margin-top: -4px;
    padding-top: 120px;
    padding-bottom: 50px;
}

/* edit fitur */
.fitur {
    padding-bottom: 20px;
    padding-left: 48px;
}

.fitur .wrapper {
    justify-content: space-between;
}

.dropbtn {
    border : 1px solid black;
    color: black;
    padding: 5px 15px;
    background-color: white;
    cursor: pointer;
}
  
.dropbtn .fa-sort {
    margin-left: 31px;
}

.dropdown {
   position: relative;
   display: inline-block;
   margin-right: 20px;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 106.5px;
   height: 138px;
   overflow: auto;
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   z-index: 1;
}
 
.dropdown-content a {
    color: black;
   /* padding: 12px 16px; */
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content a:first-of-type, .dropdown-content a:nth-child(2), .dropdown-content a:nth-child(3) {
    border-bottom: 1px solid black;
}

.drop-btn {
    border : 1px solid black;
    color: black;
    /* padding: 5px 59px; */
    padding: 5px 10px;
    width: 191px;
    background-color: white;
    cursor: pointer;
} 

.drop-btn .fa-sort {
    margin-left: 80px;
    color: black;
}

.dropdown-content-category {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 191px;
    overflow: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 1;
}

.dropdown-content-category a {
    color: black;
   /* padding: 12px 16px; */
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content-category a:first-of-type, .dropdown-content-category a:nth-child(2), .dropdown-content-category a:nth-child(3), .dropdown-content-category a:nth-child(4), .dropdown-content-category a:nth-child(5) {
    border-bottom: 1px solid black
}

.show {
    display: block;
}

.pencarian {
    background-color: white;
    border: 1px solid #000262;
    padding: 5px;
    margin-right: 52px;
}

.pencarian input {
    outline: none;
    border: none;
    width: 300px;
    margin-left: 5px;
}

/* edit rak buku */
.daftar-buku .wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.daftar-buku .buku:first-of-type {
    width: 200px;
    height: 300px;
    margin-top: 30px;
    background-color: #000262;
    margin-left: 50px;
}

.daftar-buku .buku {
    width: 200px;
    height: 300px;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 100px;
}

.daftar-buku .buku:nth-of-type(6) {
    margin-left: 50px;
    margin-bottom: 100px;
}

.daftar-buku .buku h3 {
    color: black;
    font-weight: 500;
    padding-bottom: 3px;
    padding-left: 5px;
}

.lebar {
    height: 300px;
    object-fit: cover;
}

.daftar-buku .buku p{
    color: #FF865E;
    padding-left: 5px;
}

/* edit page */
.page {
    padding: 200px 0 0 520px;
}

.page a {
    text-decoration: underline;
    padding: 0 5px;
    font-size: 24px;
    color: black;
}

.page a:nth-child(7) {
    text-decoration: none;
}
