/* edit background */
body {
    background: url(../assets/ciprian-boiciuc-CXdeJI3bD2U-unsplash.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 0 -500px;
    background-repeat: no-repeat;
    padding: 10px 0;
}

/* edit register */
.register {
    background-color: #FEF9EF;
    margin: 70px auto;
    border-radius: 10px;
    border: 10px;
    width: fit-content;
}

.register .wrapper {
    flex-direction: column;
    align-items: center;
}

.register h1 {
    color: black;
    padding-bottom: 20px;
    padding-top: 14px;
    padding-right: 120px;
    padding-left: 120px;
}

.register input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #FEF9EF;
    color:black;
}

.register input::placeholder {
    color: black;
}

.register-username.wrapper, .register-password.wrapper, .register-password-confirm.wrapper {
    flex-direction: row;
}

.register-username, .register-password-confirm {
    padding: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #FF865E;
    background-color: #FEF9EF;
    border-radius: 10px;
}

.register-password {
    padding: 10px 11px;
    border: 1.5px solid #FF865E;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #FEF9EF;
}

.register-password-confirm {
    padding: 10px;
    margin-bottom: 40px;
    border: 1.5px solid #FF865E;
    background-color: #FEF9EF;;
    border-radius: 10px;
}


.register .fa-user-alt, .fa-lock, .fa-envelope, .fa-phone-alt {
    padding-right: 8px;
    color: #FF865E;
}

.btn-daftar {
    padding: 10px 45px;
    color: black;
    font-weight: 700;
    background-color: #FEE440;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
