body {
    background: url(https://media.istockphoto.com/photos/blurred-abstract-background-of-paperback-books-stacked-up-on-shelf-picture-id922363216?k=6&m=922363216&s=170667a&w=0&h=oVX-L-PRK9NQTgo0P_chev0jEGiXiJlBPll-mzabAZg=);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
header {
    padding-bottom: -13px;
    padding-right: 100px;
    padding-left: 49px;
    display: inline-block;
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(221, 217, 217);
    font-size: 14px;
    border-style: outset;
}

header h1 {
    float: left;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navigation Menu*/

nav {
    float: right;
}

nav ul {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

nav li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
}

/* bagian slider*/

.slide {
    height: 500px;
    position: relative;
}

.slide1, .slide2, .slide3 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide1 {
    background: url(../css/img/1.jpg) no-repeat center;
    background-size: 315px;
    padding-right: 651px;
    padding-top: 127px;
    animation: fade 8s infinite;
    -webkit-animation: fade 8s infinite;
}

.slide2 {
    background: url(../css/img/2.jfif) no-repeat center;
    background-size: 315px;
    padding-right: 651px;
    padding-top: 127px;
    animation: fade2 8s infinite;
    -webkit-animation: fade2 8s infinite;
}

.slide3 {
    background: url(../css/img/6.jfif) no-repeat center;
    background-size: 315px;
    padding-right: 651px;
    padding-top: 127px;
    animation: fade3 8s infinite;
    -webkit-animation: fade2 8s infinite;
}




@keyframes fade {
    0%{opacity: 1;} 
    33.333% {opacity: 0;}
    66.666% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade2 {
    0%{opacity: 0;}
    33.333% {opacity: 1;}
    66.666% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade3 {
    0%{opacity: 0;}
    33.333% {opacity: 0;}
    66.666% {opacity: 1;}
    100% {opacity: 0;}
}

.tentang .wrapper {
    align-items: stretch;
    justify-content: center;
}


.kanan, .kiri {
    width: 50%;
    padding: 115px 0;
}

.kanan {
    padding-left: 61px;
    text-align: justify;
    font-size: 19px;
}

.kiri {
    padding-right: 15px;
}