/* CSS */
body {
    background: url(../images/bg-rock.jpg) repeat;
    color: #c9bb90;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    min-width: 940px;
    padding: 0;
}

a {
    outline: none;
}

img {
    border: 0;
    width: -webkit-fill-available;
}

.book {
    width: 25%;
    margin-left: 30px;
}

p {
    line-height: 24px;
    margin: 0;
}

p a, main div#services div.section div span a {
    color: #736e5f;
}

p a:hover, footer div.last div a:hover, main div#produk ul li h2 a:hover, main div#home div.sidebar ul li p a.readmore:hover, main div#services div.section div span a:hover {
    color: #898066;
}

/* header */
header {
    background: url(../images/bg-pattern.jpg) repeat;
    border-bottom: 1px solid #000000;
    height: 139px;
}

header nav {
    overflow: hidden;
    padding: 0 0 0 10px;
}

header a#logo {
    display: block;
    float: left;
    padding: 10px 0 0;
    outline: none;
    text-decoration: none;
    font-size: 25px;
    font-variant-caps: unicase;
    align-content: center;
    color: burlywood;
}

header nav ul {
    float: right;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

header nav ul li {
    border-left: 1px solid #282725;
    float: left;
    height: 103px;
    padding: 0 20px;
}

header nav ul li:first-child {
    border: none;
}

header nav ul li a {
    color: #736e5f;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    letter-spacing: 0.075em;
    line-height: 129px;
    text-decoration: none;
}

header nav ul li.current a, header nav ul li a:hover {
    border-bottom: 1px solid #c9bb90;
    color: #c9bb90;
    padding: 0 0 3px;
}

header nav ul li a:hover {
    border-bottom: none;
}

/* body */
main {
    background: url(../images/bg-content.jpg) repeat-x;
    width: 100%;
}

main div#wrapper {
    padding: 10px 10px 0;
}

main div#wrapper h1 {
    color: #8e7835;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 47px 0;
}

main div#wrapper h3 {
    color: #8e7835;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 48px;
    padding: 42px 0;
    margin: 0;
}

main div#wrapper h3 a {
    color: #8e7835;
    border-bottom: 1px solid #8e7835;
    text-decoration: none;
}

main div#wrapper div.section {
    overflow: hidden;
    padding: 70px 0 50px;
}

main div#wrapper div.section img {
    display: block;
    float: left;
    margin: 5px 0 0;
    width: 50%;
    margin-left: 20px;
}

main div#wrapper div.section div {
    float: right;
    width: 42%;
    margin-right: 50px;
    font-size: 15px;
}

main div#wrapper div.section div h2 {
    color: #8e7835;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 39px;
    margin: 0;
    width: 490px;
}

main div#wrapper div.section div h2 a {
    border-bottom: 1px solid #8e7835;
    color: #8e7835;
    text-decoration: none;
}

main div#wrapper div.section div p {
    letter-spacing: 0.05em;
    text-align: justify;
}

main div#wrapper div.first {
    float: left;
    width: 50%;
    margin-right: 25px;
}

main div#wrapper div.last {
    float: right;
    width: 48%;
    list-style: none;
}

main div#wrapper div.first div {
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin: 48px 0 0;
    width: 50%;
}

main div#wrapper div.first div h2 {
    color: #8e7835;
    font-size: 34px;
    font-weight: normal;
    line-height: 48px;
    letter-spacing: 0.025em;
    margin: 0;
    padding: 0 0 40px;
}

main div#wrapper div.first div p {
    line-height: 25px;
    font-size: larger;
    text-align: center;
    margin: 0 20px 0 20px;
}

main div#wrapper div.first div a#shopnow {
    background: #736e5f;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    height: 30px;
    letter-spacing: 0.025em;
    line-height: 30px;
    margin: 20px 0 0;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
}

main div#wrapper div.first div a#shopnow:hover, footer div.last form input#go:hover, main div#contact div form input#submit:hover {
    background: #857c61;
}

main div#wrapper div.first span {
    display: block;
    float: right;
    margin-top: 15px;
}

main div#wrapper div.first span img {
    display: block;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

main {
    background: url(../images/bg-pattern.jpg) repeat;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    padding: 20px 0 38px;
    width: 100%;
}

/* beranda */
main div#home, main div#produk, main div#services {
    overflow: hidden;
    width: 98%;
    margin-left: 20px;
}

main div#home div.section {
    float: left;
    padding: 0 0 0 10px;
    width: 100%;
}

main div#home div.section ul li {
    width: 200px;
}

main div#home h4, footer h4 {
    color: #c9bb90;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.025em;
    line-height: 48px;
    margin: 0;
}

main div#home div.section h1 {
    color: #8e7835;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0.025em;
    line-height: 48px;
    margin: 0;
}

main div#home div.section ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 30px 0 0 50px;
}

main div#home div.section ul li, main div#services div.section ul li {
    background: url(../images/border.jpg) repeat-y 20px top;
    float: left;
    padding: 0 0 0 39px;
    /* width: 170px; */
}

main div#home div.section ul li:first-child {
    background: none;
    padding: 0;
}

main div#home div.section ul li img {
    display: block;
    margin: 0 0 24px;
}

main div#services div.section ul li img {
    display: block;
    margin: 0 0 20px;
    height: 60vh;
}

main div#home div.section ul li h2 {
    color: #736e5f;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
}

main div#home div.sidebar {
    float: right;
    width: 310px;
}

main div#home div.sidebar ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}

main div#home div.sidebar ul li {
    background: #1a1918;
    border-radius: 3px;
    height: 100px;
    margin: 22px 0 0;
    padding: 13px 20px 10px;
}

main div#home div.sidebar ul li:first-child {
    margin: 0;
}

main div#home div.sidebar ul li span, main div#home div.sidebar ul li p a.readmore {
    color: #3d3c3a;
    display: block;
    font-size: 12px;
    letter-spacing: 0.025em;
    line-height: 24px;
}

main div#home div.sidebar ul li h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.025em;
    line-height: 24px;
    margin: 0;
}

main div#home div.sidebar ul li p {
    letter-spacing: 0.024em;
}

main div#home div.sidebar ul li p a.readmore {
    display: inline;
    text-decoration: none;
}

/* produk */
main div#produk ul {
    font-family: Georgia, "Times New Roman", Times, serif;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 15px 0 0;
}

main div#produk ul li {
    float: left;
    margin: 0 0 40px;
    overflow: hidden;
    width: 32%;
    margin-right: 15px;
}

main div#produk ul li img {
    border: 1px solid #222222;
    display: block;
    float: left;
    margin-right: 10px;
    width: 50%;
    height: 50vh;
}

main div#produk ul li h2 {
    color: #736e5f;
    font-size: 16px;
    letter-spacing: 0.025em;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
}

main div#produk ul li p {
    letter-spacing: 0.025em;
}

main div#produk ul li span {
    background: #2e2d2a;
    border-radius: 3px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    height: 31px;
    letter-spacing: 0.025em;
    line-height: 31px;
    margin: 10px 0 0;
    padding: 0 12px;
    cursor: pointer;
}

/* layanan */
main div#services {
    padding: 15px 0 0;
}

main div#services div.section {
    float: left;
    padding: 0 0 0 10px;
    width: 100%;
}

main div#services div.section ul li {
    background: none;
    padding: 0;
    width: 48%;
    margin-right: 15px;
    font-size: x-large;
    font-family: monospace;
    color: cadetblue;
}

main div#services div.section h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 30px;
    margin: 0;
    width: 430px;
}

main div#services div.section ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 0 30px;
}

main div#services div.section div {
    overflow: hidden;
}

main div#services div.section div span {
    display: block;
    float: left;
    letter-spacing: 0.05em;
    line-height: 24px;
    text-align: justify;
    width: 270px;
}

main div#services div.section div ul {
    list-style: disc;
    float: left;
    margin: 0 0 0 38px;
    padding: 0 0 0 15px;
    width: 295px;
}

main div#services div.section div ul li {
    background: none;
    float: none;
    letter-spacing: 0.025em;
    padding: 0;
    width: auto;
}

main div#services div.sidebar {
    background: #2e2d2a;
    border-radius: 3px;
    color: #948d78;
    float: right;
    margin: 0 10px 0 0;
    padding: 20px;
    width: 220px;
}

main div#services div.sidebar h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 24px;
    margin: 0;
}

main div#services div.sidebar p {
    letter-spacing: 0.05em;
    padding: 0 0 10px;
}

main div#services div.sidebar div {
    border-top: 1px solid #22201f;
    padding: 15px 0;
}

main div#services div.sidebar div p {
    padding: 0;
}

main div#services div.sidebar div.first {
    border: none;
}

main div#services div.sidebar div a {
    color: #948d78;
    letter-spacing: 0.025em;
    line-height: 24px;
    text-decoration: none;
}

main div#services div.sidebar div span {
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 0.05em;
    line-height: 24px;
}

/* tentang */
main div#about {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 10px;
    width: 920px;
}

main div#about h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 30px;
    margin: 0;
    padding: 25px 0 0;
}

main div#about h3:first-child {
    padding: 5px 0 0;
}

/* kontak */
main div#about p, main div#contact p {
    letter-spacing: 0.05em;
    line-height: 30px;
    text-align: justify;
}

main div#contact div div p {
    line-height: 24px;
}

main div#contact div div p a.email {
    color: #736E5F;
    text-decoration: none;
}

main div#contact {
    margin: 0 auto;
    overflow: hidden;
    padding: 5px 10px 0;
    width: 920px;
}

main div#contact div {
    background: url(../images/bg-border.png) repeat-y center top;
    overflow: hidden;
    margin: 44px 0 0;
}

main div#contact div div {
    background: none;
    float: left;
    margin: 0;
    width: 335px;
}

main div#contact div div h3, main div#contact div form h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 30px;
    margin: 0;
    padding: 15px 0 0;
    text-transform: uppercase;
}

main div#contact div div h3:first-child {
    padding: 0;
}

main div#contact div form {
    float: right;
    width: 512px;
}

main div#contact div form h3 {
    padding: 0;
    margin: 0;
}

main div#contact div form label {
    display: block;
    overflow: hidden;
    margin: 10px 0 0;
}

main div#contact div form label span {
    display: block;
    float: left;
    line-height: 30px;
    text-align: right;
    width: 110px;
}

main div#contact div form label input#name, main div#contact div form label input#email {
    border: none;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    float: right;
    letter-spacing: 0.05em;
    padding: 0;
    height: 30px;
    line-height: 30px;
    width: 390px;
}

main div#contact div form label span.message {
    vertical-align: top;
}

main div#contact div form label textarea {
    border: none;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    float: right;
    height: 250px;
    letter-spacing: 0.05em;
    overflow: auto;
    padding: 0;
    resize: none;
    width: 390px;
}

main div#contact div form input#submit {
    background: #2f2d2b;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.075em;
    margin: 10px 0 0 120px;
    padding: 5px;
    text-align: center;
}

/* footer */
footer {
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0 20px;
    width: 97%;
}

footer {
    overflow: hidden;
    padding: 40px 0 0;
}

footer div.first {
    float: left;
    padding: 0;
    width: 50%;
    margin-left: 30px;
}

footer div.first p {
    letter-spacing: 0.05em;
    text-align: justify;
}

footer div.last {
    float: right;
    padding: 0;
    width: 40%;
}

footer div.last div {
    padding: 5px 0 15px;
}

footer div.last form {
    overflow: hidden;
    margin: 0;
}

footer div.last form input#newsletter {
    border: none;
    color: #636466;
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 35px;
    letter-spacing: 0.05em;
    line-height: 34px;
    margin: 0;
    padding: 0 7px;
    width: 270px;
}

footer div.last form input#go {
    background: #4b4946;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    float: left;
    height: 35px;
    letter-spacing: 0.05em;
    padding: 0;
    text-transform: lowercase;
    width: 50px;
}

footer p.footnote {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 75px;
    text-align: center;
    width: 100%;
    margin-top: 145px;
}